body {
	margin: 0;
	padding: 0;
	font-family: Georgia, Serif;
	background-image: url("../images/4.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
article.k {
  margin-top: 90px;
  margin-left: 90px;
  line-height: normal;
  text-align: justify;
}
p {
  color: #ffffff;
  width: 415px;
  height: 200px;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
}

@keyframes example {
  0%   {color:#ffffff; left:0px; top:0px;}
  25%  {color: #000000; left:200px; top:0px;}
  50%  {color:#ffffff; left:200px; top:200px;}
  75%  {color:#000000; left:0px; top:200px;}
  100% {color:#ffffff; left:0px; top:0px;}
}

ul {
	list-style-type: none;
	float: left;
}

ul li {
	display: inline-block;
}

ul li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 6px 24px;
	text-decoration: none;
    border: 2px;
    border-color: #ffffff;
    border-style: ridge;
}

ul li a:hover {
	background-color: #111;
    padding: 5px 20px;
}


h1 {
	font-family: Georgia, Serif;
    color:  #ffffff;
	padding: 10px;
	
}


.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.3;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; 
}

.fa-facebook {
	background: #1a1a1a;
    color: white;

}

.fa-twitter {
  background: #1a1a1a;
  color: white;
}

.fa-google {
  background: #1a1a1a;
  color: white;

}


.fa-youtube {
  background: #1a1a1a;
  color: white;
}


ul.u {
	list-style-type: none;
	float: right;
    display: block;
}
